{% extends "base.html" %}

{% block title %}
<title>
    Universal Translator
</title>
{% endblock %}

{% block content %}
<div class="page">
    <br>
    <!-- Navigation (Stays on Top) -->
    <div id="home">

        <h class="header-title">Translation in progress</h>
        <h5>This process can take several seconds</h5>
        <br>
        <div class="loader processor"></div>
    </div>
    <br>

    <a href="/" style="color: #60ebb1"> Return to main page</a> <br>
</div>
<div class="background-bottom"></div>

{% endblock %}